.board {
  width: 100%;
  height: auto;
  padding-left: 12.5px;
  padding-right: 12.5px;
  position: relative;
}

.col {
  text-align: center;
  color: white;
  height: 30px;
}

#oneName {
  line-height: 30px;
  vertical-align: middle;
}

.App {
  display: flex;
  padding: 20px 12.5px;
  background-color: #ECEEEE;
  height: 100vh;
}

#right {
  float: right;
  font-size: 20px;
}

#left {
  float: left;
  font-size: 20px;
}

#text {
  padding: 20px 12px;
}


/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
